/* hide ads and unnecessary sidebars */
#header_right,
#eventbar_container_outer,
.deck_footer_row:nth-child(3) {
    display: none !important;
}

#deckstats_main_container {
    margin-right: 0;
}

#deckbuilder_container_outer {
    padding-right: var(--theme-page-hpadding);
}

/* move comments in deck builder onto same line as card name */
.deckbuilder_cards_comment.deckbuilder_cards_comment_on {
    display: inline-flex !important;
    margin-left: 12px
}

/* hide unnecessary save dialog */
div[aria-describedby="deck_dialog_save_success"], .ui-widget-overlay {
    display: none !important;
}
